In [89]:
import pandas as pd

# 1)	Read the data into a pandas dataframe.

In [90]:
data = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-elo/nbaallelo.csv')

Make a copy of the dataframe data

In [91]:
df = data.copy()

To display the bottom 5 rows

In [92]:
df.tail(5)

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,...,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,...,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,...,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,...,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,...,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN

Checking the data type

In [93]:
df.dtypes

gameorder          int64
game_id           object
lg_id             object
_iscopy            int64
year_id            int64
date_game         object
seasongame         int64
is_playoffs        int64
team_id           object
fran_id           object
pts                int64
elo_i            float64
elo_n            float64
win_equiv        float64
opp_id            object
opp_fran          object
opp_pts            int64
opp_elo_i        float64
opp_elo_n        float64
game_location     object
game_result       object
forecast         float64
notes             object
dtype: object

Total number of rows and columns

In [94]:
df.shape

(126314, 23)

Rows containing duplicate data

In [95]:
duplicate_rows_df = df[df.duplicated()]
print("number of duplicate rows: ", duplicate_rows_df.shape)

number of duplicate rows:  (0, 23)

Used to count the number of rows before removing the data

In [96]:
df.count()

gameorder        126314
game_id          126314
lg_id            126314
_iscopy          126314
year_id          126314
date_game        126314
seasongame       126314
is_playoffs      126314
team_id          126314
fran_id          126314
pts              126314
elo_i            126314
elo_n            126314
win_equiv        126314
opp_id           126314
opp_fran         126314
opp_pts          126314
opp_elo_i        126314
opp_elo_n        126314
game_location    126314
game_result      126314
forecast         126314
notes              5424
dtype: int64

Finding the null values.

In [97]:
print(df.isnull().sum())

gameorder             0
game_id               0
lg_id                 0
_iscopy               0
year_id               0
date_game             0
seasongame            0
is_playoffs           0
team_id               0
fran_id               0
pts                   0
elo_i                 0
elo_n                 0
win_equiv             0
opp_id                0
opp_fran              0
opp_pts               0
opp_elo_i             0
opp_elo_n             0
game_location         0
game_result           0
forecast              0
notes            120890
dtype: int64

# 2)	Create a new column called ‘date_game_ts’ that has the timestamp of the date of the game.

In [98]:
type(df['date_game'][0])

str

In [99]:
df['date_game']= df['date_game'].apply(lambda x: pd.Timestamp(x).strftime('%d-%m-%Y'))

In [100]:
df['date_game_ts'] = pd.to_datetime(df['date_game'],format='%d-%m-%Y')

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 24 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  elo_i          126314 non-null  float64
 12  elo_n          126314 non-null  float64
 13  win_equiv      126314 non-null  float64
 14  opp_id         126314 non-null  object
 15  opp_fran       126314 non-null  object
 16  opp_pts        126314 non-null  int64
 17  opp_elo_i      126314 non-null  float64
 18  opp_elo_n      126314 non-null  float64
 19  game_location  126314 non-null  object
 20  game_result    126314 non-null  object
 21  forecast       126314 non-null  float64
 22  notes          5424 non-null    object
 23  date_game_ts   126314 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(6), int64(7), object(10)
memory usage: 23.1+ MB

In [102]:
df['date_game_ts']

0        1946-11-01
1        1946-11-01
2        1946-11-02
3        1946-11-02
4        1946-11-02
            ...
126309   2015-06-11
126310   2015-06-14
126311   2015-06-14
126312   2015-06-16
126313   2015-06-16
Name: date_game_ts, Length: 126314, dtype: datetime64[ns]

# 3)	Create a new column called ‘great_game_flag’ that is 1 if at least one of the teams scored more than 100 points and 0 otherwise (pts and opp_pts are the points for each team).

In [103]:
import numpy as np
df['great_game_flag'] = np.nan


for i in range(len(df)) : 
    
    
    if int(df.loc[i, "pts"]) > 100 or int(df.loc[i, "opp_pts"]) > 100:
        df.at[i, "great_game_flag"] = 1
        
    else:
        df.at[i, "great_game_flag"] = 0
        
    
    
    #print(data.loc[i, "great_game_flag"])

In [104]:
df['great_game_flag']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
126309    1.0
126310    1.0
126311    1.0
126312    1.0
126313    1.0
Name: great_game_flag, Length: 126314, dtype: float64

# 4)	Split the data intro two different pandas dataframes: aba, nba based on the column ‘lg_id’.

In [105]:
aba = df[df["lg_id"]=="ABA"].sort_values(by=["date_game_ts"], ascending=True)
nba = df[df["lg_id"]=="NBA"].sort_values(by=["date_game_ts"], ascending=True)

In [106]:
aba.tail(5)

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes,date_game_ts,great_game_flag
35981,17991,197605080NYA,ABA,0,1976,08-05-1976,95,1,NYA,Nets,...,Nuggets,112,1625.4951,1618.4717,H,W,0.615614,NaN,1976-05-08,1.0
35988,17995,197605110DNA,ABA,1,1976,11-05-1976,96,1,NYA,Nets,...,Nuggets,118,1618.4717,1624.4133,A,L,0.354467,NaN,1976-05-11,1.0
35989,17995,197605110DNA,ABA,0,1976,11-05-1976,96,1,DNA,Nuggets,...,Nets,110,1614.3347,1608.3931,H,W,0.645533,NaN,1976-05-11,1.0
35992,17997,197605130NYA,ABA,0,1976,13-05-1976,97,1,NYA,Nets,...,Nuggets,106,1624.4133,1618.8855,H,W,0.618557,NaN,1976-05-13,1.0
35993,17997,197605130NYA,ABA,1,1976,13-05-1976,97,1,DNA,Nuggets,...,Nets,112,1608.3931,1613.9209,A,L,0.381443,NaN,1976-05-13,1.0

In [107]:
nba.tail(5)

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes,date_game_ts,great_game_flag
126309,63155,201506110CLE,NBA,0,2015,11-06-2015,100,1,CLE,Cavaliers,...,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN,2015-06-11,1.0
126310,63156,201506140GSW,NBA,0,2015,14-06-2015,102,1,GSW,Warriors,...,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN,2015-06-14,1.0
126311,63156,201506140GSW,NBA,1,2015,14-06-2015,101,1,CLE,Cavaliers,...,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN,2015-06-14,1.0
126312,63157,201506170CLE,NBA,0,2015,16-06-2015,102,1,CLE,Cavaliers,...,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN,2015-06-16,1.0
126313,63157,201506170CLE,NBA,1,2015,16-06-2015,103,1,GSW,Warriors,...,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN,2015-06-16,1.0

# 5)	Create a pandas dataframe that is named “stats_aba” and contains the number of great games (the definition is above) per year (year_id) in the aba dataframe.

In [108]:
stats_aba = aba[aba['great_game_flag'] == 1.0].groupby('year_id')['great_game_flag'].count().reset_index(name="great_game_count")

In [109]:
stats_aba = pd.DataFrame(data=stats_aba)
stats_aba.head(5)

   year_id  great_game_count
0     1968               828
1     1969               906
2     1970               922
3     1971               972
4     1972               932

# 6)	Create a pandas dataframe that is called nba_stats where every row is a basketball team (fran_id) and every column is a year from 1947 to 2015 and inside the table is the number of wins (game_result) that this team has had in that respective year, according to the nba dataframe.

In [110]:
nba.drop(nba.columns[[0,1,2,3,5,6,7,8,10,11,12,13,14,15,16,18,19,21,22]], axis = 1, inplace = True)

In [111]:
nba

,year_id,fran_id,opp_elo_i,game_result,date_game_ts,great_game_flag
0,1947,Huskies,1300.0000,L,1946-11-01,0.0
1,1947,Knicks,1300.0000,W,1946-11-01,0.0
2,1947,Stags,1306.7233,W,1946-11-02,0.0
3,1947,Knicks,1300.0000,L,1946-11-02,0.0
4,1947,Falcons,1300.0000,L,1946-11-02,0.0
...,...,...,...,...,...,...
126309,2015,Cavaliers,1790.9591,L,2015-06-11,1.0
126310,2015,Warriors,1704.3949,W,2015-06-14,1.0
126311,2015,Cavaliers,1809.9791,L,2015-06-14,1.0
126312,2015,Cavaliers,1813.6349,L,2015-06-16,1.0
126313,2015,Warriors,1700.7391,W,2015-06-16,1.0

In [112]:
nba[nba['game_result'] == 'W' ].pivot_table(index="fran_id", columns="year_id", aggfunc= 'count' ).fillna(0)

             date_game_ts                                                  \
year_id              1947  1948  1949  1950  1951  1952  1953  1954  1955
fran_id
Baltimore             0.0  37.0  30.0  25.0  24.0  20.0  16.0  16.0   0.0
Bombers              39.0  32.0  29.0  26.0   0.0   0.0   0.0   0.0   0.0
Bucks                 0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Bulls                 0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Capitols             51.0  28.0  44.0  32.0  10.0   0.0   0.0   0.0   0.0
Cavaliers             0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Celtics              22.0  21.0  25.0  22.0  39.0  40.0  49.0  44.0  39.0
Clippers              0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Denver                0.0   0.0   0.0  11.0   0.0   0.0   0.0   0.0   0.0
Falcons              20.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Grizzlies             0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Hawks                 0.0   0.0   0.0  30.0  25.0  17.0  27.0  21.0  26.0
Heat                  0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Hornets               0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Huskies              22.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Ironmen              15.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Jazz                  0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Jets                  0.0   0.0  18.0   0.0   0.0   0.0   0.0   0.0   0.0
Kings                 0.0   0.0  47.0  51.0  50.0  44.0  45.0  47.0  30.0
Knicks               35.0  27.0  35.0  43.0  44.0  45.0  53.0  44.0  39.0
Lakers                0.0   0.0  52.0  62.0  47.0  49.0  57.0  55.0  43.0
Magic                 0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Mavericks             0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Nets                  0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Nuggets               0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Olympians             0.0   0.0   0.0  42.0  32.0  34.0  28.0   0.0   0.0
Pacers                0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Packers               0.0   0.0   0.0  41.0   0.0   0.0   0.0   0.0   0.0
Pelicans              0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Pistons               0.0   0.0  22.0  43.0  33.0  29.0  40.0  40.0  49.0
Raptors               0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Rebels               31.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Redskins              0.0   0.0   0.0  23.0   0.0   0.0   0.0   0.0   0.0
Rockets               0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Sixers                0.0   0.0   0.0  57.0  36.0  43.0  47.0  51.0  50.0
Spurs                 0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Stags                44.0  31.0  38.0  40.0   0.0   0.0   0.0   0.0   0.0
Steamrollers         28.0   6.0  12.0   0.0   0.0   0.0   0.0   0.0   0.0
Suns                  0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Thunder               0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Timberwolves          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Trailblazers          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Warriors             43.0  33.0  28.0  26.0  40.0  34.0  12.0  29.0  33.0
Waterloo              0.0   0.0   0.0  19.0   0.0   0.0   0.0   0.0   0.0
Wizards               0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

                    ... opp_elo_i                                            \
year_id       1956  ...      2006  2007  2008  2009  2010  2011  2012  2013
fran_id             ...
Baltimore      0.0  ...       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Bombers        0.0  ...       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Bucks          0.0  ...      41.0  28.0  26.0  34.0  49.0  35.0  31.0  38.0
Bulls          0.0  ...      43.0  55.0  33.0  44.0  42.0  71.0  52.0  50.0
Capitols       0.0  ...       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Cavaliers      0.0  ...      57.0  62.0  52.0  76.0  67.0  19.0  21.0  24.0
Celtics       40.0  ...      33.0  24.0  82.0  69.0  65.0  61.0  50.0  43.0
Clippers       0.0  ...      54.0  40.0  23.0  19.0  29.0  32.0  44.0  58.0
Denver         0.0  ...       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Falcons        0.0  ...       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Grizzlies      0.0  ...      49.0  22.0  22.0  24.0  40.0  53.0  44.0  64.0
Hawks         37.0  ...      26.0  30.0  40.0  51.0  57.0  50.0  42.0  46.0
Heat           0.0  ...      68.0  44.0  15.0  46.0  48.0  72.0  62.0  82.0
Hornets        0.0  ...      26.0  33.0  32.0  35.0  44.0  34.0   7.0  21.0
Huskies        0.0  ...       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Ironmen        0.0  ...       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Jazz           0.0  ...      41.0  60.0  60.0  49.0  57.0  39.0  36.0  43.0
Jets           0.0  ...       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Kings         31.0  ...      46.0  33.0  38.0  17.0  25.0  24.0  22.0  28.0
Knicks        35.0  ...      23.0  33.0  23.0  32.0  29.0  42.0  37.0  60.0
Lakers        35.0  ...      48.0  43.0  71.0  81.0  73.0  61.0  46.0  45.0
Magic          0.0  ...      36.0  40.0  57.0  72.0  69.0  54.0  38.0  20.0
Mavericks      0.0  ...      74.0  69.0  52.0  55.0  57.0  73.0  36.0  41.0
Nets           0.0  ...      54.0  47.0  34.0  34.0  12.0  24.0  22.0  52.0
Nuggets        0.0  ...      45.0  46.0  50.0  64.0  55.0  51.0  41.0  59.0
Olympians      0.0  ...       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Pacers         0.0  ...      43.0  35.0  36.0  36.0  32.0  38.0  48.0  60.0
Packers        0.0  ...       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Pelicans       0.0  ...      38.0  39.0  63.0  50.0  37.0  48.0  21.0  27.0
Pistons       41.0  ...      74.0  63.0  69.0  39.0  27.0  30.0  25.0  29.0
Raptors        0.0  ...      27.0  49.0  42.0  33.0  40.0  22.0  23.0  34.0
Rebels         0.0  ...       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Redskins       0.0  ...       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Rockets        0.0  ...      34.0  55.0  57.0  60.0  42.0  43.0  34.0  47.0
Sixers        40.0  ...      38.0  35.0  42.0  43.0  27.0  42.0  42.0  34.0
Spurs          0.0  ...      70.0  74.0  65.0  55.0  54.0  63.0  60.0  73.0
Stags          0.0  ...       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Steamrollers   0.0  ...       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Suns           0.0  ...      64.0  67.0  56.0  46.0  64.0  40.0  33.0  25.0
Thunder        0.0  ...      35.0  31.0  20.0  23.0  52.0  64.0  60.0  65.0
Timberwolves   0.0  ...      33.0  32.0  22.0  24.0  15.0  17.0  26.0  31.0
Trailblazers   0.0  ...      21.0  32.0  41.0  56.0  52.0  50.0  28.0  33.0
Warriors      52.0  ...      34.0  47.0  48.0  29.0  26.0  36.0  23.0  53.0
Waterloo       0.0  ...       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Wizards        0.0  ...      44.0  41.0  45.0  19.0  26.0  23.0  20.0  29.0


year_id       2014  2015
fran_id
Baltimore      0.0   0.0
Bombers        0.0   0.0
Bucks         15.0  43.0
Bulls         49.0  56.0
Capitols       0.0   0.0
Cavaliers     33.0  67.0
Celtics       25.0  40.0
Clippers      63.0  63.0
Denver         0.0   0.0
Falcons        0.0   0.0
Grizzlies     53.0  61.0
Hawks         41.0  68.0
Heat          67.0  37.0
Hornets       43.0  33.0
Huskies        0.0   0.0
Ironmen        0.0   0.0
Jazz          25.0  38.0
Jets           0.0   0.0
Kings         28.0  29.0
Knicks        37.0  17.0
Lakers        27.0  21.0
Magic         23.0  25.0
Mavericks     52.0  51.0
Nets          49.0  40.0
Nuggets       36.0  30.0
Olympians      0.0   0.0
Pacers        66.0  38.0
Packers        0.0   0.0
Pelicans      34.0  45.0
Pistons       29.0  32.0
Raptors       51.0  49.0
Rebels         0.0   0.0
Redskins       0.0   0.0
Rockets       56.0  65.0
Sixers        19.0  18.0
Spurs         78.0  58.0
Stags          0.0   0.0
Steamrollers   0.0   0.0
Suns          48.0  39.0
Thunder       69.0  45.0
Timberwolves  40.0  16.0
Trailblazers  59.0  52.0
Warriors      54.0  83.0
Waterloo       0.0   0.0
Wizards       50.0  52.0

[45 rows x 276 columns]